header.main-header.postpgHeader{
	background: #fff url(../images/the-new-mw.jpg) center center;
	min-height: 600px;
	background-size: cover;
	position: relative;
	nav.main-nav{
		background: $white;
		padding: 15px;
		@include box-shadow(-2px 2px 15px 0 rgba(0, 0, 0, 0.3));
		border-radius: 50px;
		@include media($mobile) {
			padding: 0px;

		}
	}

	.postHead{
		background: rgba($black, .35);
		max-width: 600px;
		width: 95%;
		@include h-center();
		bottom: 20px;
		text-align: center;
		color: $white;
		padding: 20px 15px;
		border-radius: 4px;
		.post-cat{
			color: $main-yellow;
			font-weight: 600;
		}
		.post-title{
			max-width: 80%;
			margin: 10px auto;
			line-height: 1.25;
		}
		.post-date{
			color: rgba($white, .75);
			font-size: .857em;
		}
	}
}

.post-container{
	@include outer-container(930px);
	padding: 0 15px;
 }

 article.post-content{
	p{
		margin-bottom: 15px;
		line-height: 1.5;
		letter-spacing: .5px;
		font-size: 1.1em;
		font-weight: 400;
	}
	a{
		font-weight: 600;
	}
	img{
		max-width: 100%;
		height: auto;
		margin: 15px 0;
	}
	blockquote{
		background-color: rgba($black, .9);
		max-width: 600px;
		margin: 70px auto;
		color: #fff;
		border-radius: 5px;
		padding: 25px;
		position: relative;
		font-size: 1.125em;
		line-height: 1.5;
		@include box-shadow(7px 8px 20px 0px rgba(0, 0, 0, 0.25));
		a{
			color: $yellow;
		}
		&:before{
			content: '';
			display: block;
			background: url(../svg/quote.svg) no-repeat center center;
			@include size(50px);
			top: 0;
			left: 0;
			background-size: 50px;
			position: absolute;
			@include transform(translate(-50%, -65%));
		}
		&:after{
			content: '';
			display: block;
			background: url(../svg/quote.svg) no-repeat center center;
			bottom: 0;
			right: 0;
			@include size(50px);
			background-size: 50px;
			position: absolute;
			@include transform(translate(50%, 65%) rotate(180deg));
		}
	}
 }
