.mobo-menu{
  display: none;
  @include media($mobile){
    display: block;
  }
  a.trigger{
    background: #fff;
    @include size(50px);
    display: block;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,0.5);
    svg{
      height: 50px;
      cursor: pointer;
      @include transform(translate3d(0,0,0));
      position: absolute;
      top: 47%;
      left: 46.8%;
      @include transform(translate(-50%,-50%));

      path{
        fill: none;
        @include transition(stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25));
        stroke-width: 42px;
        stroke-linecap: round;
        stroke: $dark-blue;
        stroke-dashoffset: 0px;
      }

      path#top,
      path#bottom{
        stroke-dasharray: 240px 950px;
      }

      path#middle{
        stroke-dasharray: 150px 240px;
        opacity: 1;
      }

    }

  }
  a.trigger.cross{
    path#top, path#bottom{
      stroke-dashoffset: -650px;
      stroke-dashoffset: -650px;
    }
    path#middle{
      stroke-dashoffset: -115px;
      stroke-dasharray: 1px 220px;
    }
  }
}

.mobileNavWrap{
  // display: none;
  // opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  // bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  background: $white;
  @include transition(all 1s cubic-bezier(1,.36,.26,.78));
  @include transform(translateX(100%));
  @include box-shadow(0 0 25px 0 rgba(0, 0, 0, 0.2));
  .mobileNav-content{
    header.mn-header{
      background-color: $mnColor;
      position: relative;
      height: 40vh;
      .mn-image{
        max-width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-color: $mnColor;
        background-blend-mode: multiply;
      }
      .logo{
        @include size(120px);
        position: absolute;
        left: calc(50% - 60px);
        bottom: -45px;
        @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.2));
        z-index: 9;
        opacity: 0;
        @include transition(all .5s);
        &.show{
          opacity: 1;
        }
      }
    }
    .mn-content{
      .mn-nav{
        a{
          display: block;
          text-align: center;
          line-height: 10vh;
          display: none;
          color: rgba($black, .75);
          font-size: 1.14em;
          font-weight: 600;
          &.show{
            display: block;
          }
        }

      }
    }
  }
}

.mmOpen{
  overflow: hidden;
  .main-nav{
    .mobo-menu a.trigger{
      background: $orange;
      @include box-shadow(0 2px 10px -2px rgba($orange, 0.5));
      svg path{
        stroke: $white;
      }
    }
  }
  .mobileNavWrap{
    display: block;
    // opacity: 1;
    visibility: visible;
    @include transform(translateX(0));
  }
}
