// fonts
$primary-font: 'Josefin Sans', sans-serif;

// breakpoint
$mobile: new-breakpoint(max-width 600px);
$mobile-l: new-breakpoint(max-width 737px);
$tablet: new-breakpoint(max-width 1024px);

// sizes
$header-padding: 0px;
$top-header-height: 100px;
$header-banner-height: calc(100vh - 100px);

// colors
$white: #fff;
$main-yellow: #fffcb6;
$orange: #fd8a80;
$default-link-color:$orange ;
$dark-blue: #566270;
$gray: #888888;
$pgray: #7a7a7a;
$yellow: #d8cf00;
$projColor1: #fffcb6;
$black: #000;
$proj-title-color: $black;
$btn-gray: #888888;
$btn-yellow: #CDC73B;
$black: #000;

// brand colors
$behance: #0091ff;
$deseno-color: #314e55;
// icon

$default-icons-size : 50px;
$default-icon-fill : $dark-blue;

// pad
$c-pad: 15px;

// mobileNav
$mnColor: #fff500;

// blog
$color-blog: #e67a3d;
$color-action-read: #41abd7;
$color-action-love: #d65a49;
